data/processed/*full*.csv
data/processed/*full*.txt
data/raw/
*.pt
*.zip
*.tar.gz
*safetensors*

venv/
outputs-bert-imdb/
outputs-bert-imdb*/
__pycache__/

# trials
models/bert_therapist_v[0-9]*/
models/bert_patient_v[0-9]*/
images/train_therapist_v[0-9]*/
images/train_patient_v[0-9]*/
tensorboard/therapist/train_therapist_v[0-9]*/
tensorboard/patient/train_patient_v[0-9]*/